.master-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.amulet-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  background: #1a1a1a;
  border: 1px solid #333;
  padding: 8px;
}

.amulet-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #ccc;
}

.amulet-item button {
  background: #e6c36a;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


/* GRID */
.amulet-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.amulet-slot {
  width: 60px;
  height: 60px;

  background: linear-gradient(145deg, #221900, #2d1d00);
  border: 2px solid #c9a44b;

  box-shadow: 
    inset 0 0 6px rgba(201, 164, 75, 0.2),
    0 0 4px rgba(0,0,0,0.5);

  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  position: relative;

  transition: all 0.2s ease;
}

.amulet-slot:hover {
  border-color: #e6c36a;

  box-shadow: 
    0 0 8px rgba(230, 195, 106, 0.6),
    inset 0 0 8px rgba(230, 195, 106, 0.3);

  transform: scale(1.05);
}

/* IMG */
.amulet-slot img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* + */
.amulet-slot span {
  font-size: 22px;
  color: #c9a44b;
  opacity: 0.7;
}

/* LISTA */
.amulet-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ITEM */
.amulet-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.amulet-item img {
  width: 60px;
  height: 60px;
}

.amulet-tooltip {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%) scale(0.95);

  background: rgba(15, 15, 15, 0.95);
  border: 1px solid #c9a44b;

  padding: 8px 10px;
  border-radius: 6px;

  font-size: 12px;
  color: #e6c36a;

  white-space: nowrap;
  pointer-events: none;

  opacity: 0;
  transition: all 0.15s ease;

  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  z-index: 10;
}

.amulet-slot:hover .amulet-tooltip {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.amulet-tooltip strong {
  display: block;
  font-size: 13px;
  color: #ffd777;
  margin-bottom: 2px;
}